.name {
  color: #EE262D
}

.item {
  display: flex;
  margin: 5px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 2px;
  width: 100%;
  background: #fff;
}

.driver img {
  height: 25px;
}

.black {
  color: black;
}

.driver-photo {
  margin: 5px;
}

.driver-info {
  display: flex;
}

.location {
  color: #e06857
}

.bold {
  font-weight: 900;
}

.job-name {
  color: #1fd693;
}

.red {
  color: red;
}

.job-left {
  line-height: 2em
}

.job-right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
