html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

.map {
  height: 100vh;
  width: 100%
}

.body {
  display: flex;
}
/*Positioning*/

.bottom {
  margin: auto 0 10px 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.right {
  align-self: flex-end;
}

.left {
  align-self: flex-start;
}
